# Core functionality - changes here should be rare!
/src/app.py                   @krish25-eng
/src/backend/database.py      @krish25-eng
/src/backend/routers/auth.py  @krish25-eng

# The frontend will need refactored soon to be more object oriented.
/src/static/   @krish25-eng
